* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #0d0f11;
    min-height: 100vh;
}

.container {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    float: left;
    display: flex;
    align-items: center;
}
.container a:first-of-type{
    margin-left: 100px;
}
.container a{
    margin: 8px;
    text-decoration: none;
} 
.container img{
    height: 40px;
    margin: 15px;
}


header {
    width: 100%;
    height: 70px;
    background: rgb(0, 0, 0);
}
header img {
    height: 50px;
    margin-top: 10px;
}

.cds-container {
    display: flex;
    flex-flow: row;
    flex-wrap: no-wrap;
    align-items: flex-start;
    overflow-x: auto;
    padding-top: 50px;
    
}
.film:last-child {
    margin-bottom: 200px;
}

.cd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    height: 380px;
    background: black;
    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  
}


.cd img {
    width: 100%;
    height: 100%;
    color: white;
    
}
.back p:first-child{
    
}
.back p {
    margin: 4px 0;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    
}

.cd span.author {
    color: grey;
    font-size: 15px;
}
.cd span.language{
    
    font-size: 10px;
    width: 40px;
    height: 40px;
}
.voto strong  {
    color: white;
}
.search-bar{
    float: right;
    width: 30%;
    margin-right: px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.search-bar input{
    border-radius: 5px;
    height: 26px;
    border: 2px solid black;
    color: white;
    background-color: black;
    
}
.cd span{
    margin-top: 15px;
    text-align: center;
}


.search-bar button{
    margin-left: 8px;
    height: 27px;
    color:#d91921 ;
    background-color: black;
    border-radius: 7px;
    padding: 0 8px;
    border: 1px solid black;


}
.search-bar button:hover{
    
    color: red;
    cursor: pointer;
}
.input{
    padding-left: 3px;
}
.voto > i{
    color: rgb(255, 217, 0);
}
.language img{
    width: 40px;
    height: 40px;
    
   
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d91921; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #860c10; 
}
.number-page{
    width: 100%;
    height: 40px;
    text-align: center;
}
.page span{
    color: white;
    text-align: center;
    margin: 0 5px;
}
.front{
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
}
.back{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: 0.8s;
    
}
.back:hover{
    opacity: 1;
    background-color: black;
    color: white;
    
}
.front:hover{
    opacity: 0;
}
.container a{
    color: white;
}
.overview{
    text-overflow: ellipsis;
    font-size: 5px;
    
}
.title{
    font-size: 30px;
    text-align: left;
    color: white;
    margin-top: 50px;
    margin-left: 20px;
}