* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #0d0f11;
    min-height: 100vh;
}

.container {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    float: left;
}
.container img{
    height: 40px;
    margin: 15px;
}


header {
    width: 100%;
    height: 70px;
    background: rgb(0, 0, 0);
}
header img {
    height: 50px;
    margin-top: 10px;
}

.cds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.cd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    margin: 10px 20px;
    height: 380px;
    background: black;
    text-align: center;
    overflow: hidden;
    position: relative;
  
}


.cd img {
    width: 100%;
    height: 100%;
    color: white;
    
}
.back p:first-child{
    margin-top: 30px;
}
.back p,strong {
    margin: 2px 0;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    
}

.cd span.author {
    color: grey;
    font-size: 15px;
}
.cd span.language{
    
    font-size: 10px;
    width: 40px;
    height: 40px;
}
.cd span.voto {
    color: grey;
}
.search-bar{
    float: right;
    width: 30%;
    margin-right: px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.search-bar input{
    border-radius: 5px;
    height: 26px;
    border: 2px solid black;
    color: white;
    background-color: black;
    
}
.cd span{
    margin-top: 15px;
    text-align: center;
}


.search-bar button{
    margin-left: 8px;
    height: 27px;
    color:#d91921 ;
    background-color: black;
    border-radius: 7px;
    padding: 0 8px;
    border: 1px solid black;


}
.search-bar button:hover{
    
    color: red;
    cursor: pointer;
}
.input{
    padding-left: 3px;
}
.voto > *{
    color: rgb(255, 217, 0);
}
.language img{
    width: 40px;
    height: 40px;
    
   
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d91921; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7c0404; 
}
.number-page{
    width: 100%;
    height: 40px;
    text-align: center;
}
.page span{
    color: white;
    text-align: center;
    margin: 0 5px;
}
.front{
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
}
.back{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: 0.8s;
}
.back:hover{
    opacity: 1;
    background-color: black;
    color: white;
    
}
.front:hover{
    opacity: 0;
}