<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- jQuery CDN link -->
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->

        <!-- Bootstrap CDN link -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->

        <!-- Font-awesome CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- link css -->
        <link rel="stylesheet" href="css/style.css">
        <meta charset="utf-8">
        <!-- Axius -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <!-- Vue.js CDN -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="js/function.js" charset="utf-8"></script>
        <title>Boolflix</title>
    </head>
    <body>
        <div id="root">
            <!-- navbar con logo e search bar -->
            <header>
                <div class="container">
                    <img src="img/netflix.png" alt="logo" @click="homeButton()" />
                    <a href="" @click="homeButton()">Home</a>
                    <a href="#">Film</a>
                    <a href="#">Serie Tv</a>                    
                </div>
                <span class="search-bar">
                    <input type="text" placeholder=" Cerca..." v-model="search" @keyup.enter="filter" class="input">
                    <button @click="filter">Invia</button>
                </span>
                
        
            </header>
            <!-- sezione con film e serie piu popolari -->
            <div class="home">
                <h2 class="title" v-if="visibleTitleHome()">Film</h2>
                <div class="cds-container">
                
                
                    <div class="cd" v-for="el in filmPopularHome ">
                        <!-- immagine copertina -->
                        <div class="front">
                
                            <img :src="'https://image.tmdb.org/t/p/w500' + el.poster_path" :alt="el.title">
                
                        </div>
                        <!-- specifiche tecniche -->
                        <div class="back">
                
                            <p><strong>Titolo: </strong>{{el.title}}</p> <br>
                
                            <p class="author"><strong>Titolo originale: </strong>{{el.original_title}}</p> <br>
                
                            <p class="language"><img :src="'img/'+el.original_language+'.png'" alt=""></p><br>
                
                            <div v-for="">
                                <p class="voto"><strong>Voto: </strong><i class="fa fa-star" aria-hidden="true"
                                        v-for="star in starsEmpty(el.vote_average)"></i></p>
                
                            </div>
                            <p class="overview"><strong>Overview: </strong>{{el.overview}}</p>
                        </div>
                    </div> 
                </div>
                    <!-- serie tv home -->
                <h2 class="title" v-if="visibleTitleHome()">Serie Tv</h2>
                <div class="cds-container">
                    
                        <div class="cd " v-for="serie in seriePopularHome">
                            <div class="front">
                                <img :src="'https://image.tmdb.org/t/p/w500' + serie.poster_path" alt="">
                    
                            </div>
                            <div class="back">
                    
                                <p><strong>Titolo: </strong>{{serie.name}}</p>
                    
                                <p class="author"><strong>Titolo originale: </strong>{{serie.original_name}}</p> <br>
                    
                                <p class="language"><img :src="'img/'+serie.original_language+'.png'" alt="">
                                </p> <br>
                    
                                <div>
                                    <p class="voto"><strong>Voto: </strong><i class="fa fa-star" aria-hidden="true"
                                            v-for="star in starsEmpty(serie.vote_average)"></i></p>
                    
                                </div>
                                <p class="overview"><strong>Overview:</strong>{{serie.overview}}</p>
                            </div>
                        </div>
                </div>
                
            </div>
            <div class="film">
                
                <h2 class="title" v-if="visibleTitle()">Film</h2>
                <div class="cds-container">
                
                    
                    <div class="cd" v-for="el in resultArray">
                        <!-- immagine copertina -->
                        <div class="front"> 
    
                            <img :src="'https://image.tmdb.org/t/p/w500' + el.poster_path" :alt="el.title">
    
                        </div>
                        <!-- specifiche tecniche -->
                        <div class="back">
    
                            <p><strong>Titolo: </strong>{{el.title}}</p> <br>
        
                            <p class="author"><strong>Titolo originale: </strong>{{el.original_title}}</p> <br>
        
                            <p class="language"><img  :src="'img/'+el.original_language+'.png'" alt=""></p><br>
        
                            <div v-for="">
                                <p class="voto"><strong>Voto: </strong><i class="fa fa-star" aria-hidden="true" v-for="star in starsEmpty(el.vote_average)"></i></p>
        
                            </div>
                            <p class="overview"><strong>Overview: </strong>{{el.overview}}</p>
                        </div>
                    </div>
                </div>
                <!-- serie tv -->
                <h2 class="title" v-if="visibleTitle()">Serie Tv</h2>
                <div class="cds-container">

                    <div class="cd " v-for="serie in serieTv">
                        <div class="front">
                            <img :src="'https://image.tmdb.org/t/p/w500' + serie.poster_path" alt="">
    
                        </div>
                        <div class="back">
    
                            <p><strong>Titolo: </strong>{{serie.name}}</p>
        
                            <p class="author"><strong>Titolo originale: </strong>{{serie.original_name}}</p> <br>
        
                            <p class="language"><img :src="'img/'+serie.original_language+'.png'" alt="">
                            </p> <br>
        
                            <div >
                                <p class="voto"><strong>Voto: </strong><i class="fa fa-star" aria-hidden="true" v-for="star in starsEmpty(serie.vote_average)"></i></p>
                            
                            </div>
                            <p class="overview"><strong>Overview:</strong>{{serie.overview}}</p>
                        </div>
                    </div>
                </div>
                
            
            </div>
       
        
        </div>
        



        
        <script src="js/main.js" charset="utf-8"></script>
    </body>
</html>